# Application
artifact-id: CHANGEME
packaging: jar
initial-version: 1.0.0-rc.0

# Github
github-pipeline-uri: CHANGEME
github-pipeline-branch: master
github-version-uri: CHANGEME
github-version-branch: master
github-version-file: current-version
github-version-private-key: CHANGEME
github-application-uri: CHANGEME
github-application-branch: master

# Artifactory
artifactory-endpoint: CHANGEME
artifactory-repository: CHANGEME
artifactory-username: CHANGEME
artifactory-password: CHANGEME

# Pivotal Cloud Foundry
cf-api: https://api.run.pivotal.io
cf-username: CHANGEME
cf-password: CHANGEME
cf-organization: CHANGEME
cf-space: CHANGEME
cf-app-domain: cfapps.io
