# Application
artifact-id: CHANGEME
packaging: CHANGEME
initial-version: CHANGEME

# Github
github-pipeline-uri: CHANGEME
github-pipeline-branch: CHANGEME
github-application-uri: CHANGEME
github-application-branch: CHANGEME

# Amazon AWS S3
s3-endpoint: CHANGEME
s3-access-key-id: CHANGEME
s3-secret-access-key: CHANGEME
s3-bucket-version: CHANGEME
s3-bucket-releases: CHANGEME
s3-bucket-release-candidates: CHANGEME
s3-bucket-version-key: CHANGEME
s3-bucket-release-regexp: CHANGEME

# Pivotal Cloud Foundry
cf-api: CHANGEME
cf-username: CHANGEME
cf-password: CHANGEME
cf-organization: CHANGEME
cf-space: CHANGEME
cf-app-domain: CHANGEME
